<div class="row">
    <div *ngFor="let product of products | slice:0:6;" class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#" style="height: 150px; overflow: hidden;"><img class="card-img-top img-fluid" src="{{product.images[0]}}" alt="" style="width:100%"></a>
            <div class="card-block">
                <h4 class="card-title"><a href="#">{{product.name}}</a></h4>
                <h5>${{product.price}}</h5>
                <p class="card-text">{{product.description}}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->