<div class="list-group my-4" >
    <a routerLink="/productList/Electronics" routerLinkActive="active" class="list-group-item" >Electronics</a>
    <a routerLink="/productList/Appliances" routerLinkActive="active" class="list-group-item">Appliances</a>
    <a routerLink="/productList/Men" routerLinkActive="active" class="list-group-item">Men</a>
    <a routerLink="/productList/Women" routerLinkActive="active" class="list-group-item">Women</a>
    <a routerLink="/productList/Baby & Kids" routerLinkActive="active" class="list-group-item">Baby & Kids</a>
    <a routerLink="/productList/Home & Furniture" routerLinkActive="active" class="list-group-item">Home & Furniture</a>
    <a routerLink="/productList/Books & More" routerLinkActive="active" class="list-group-item">Books & More</a>
</div>

